{:nrepl {:port 8777}
 :deps {:aliases [:frontend]}
 :builds
 {:frontend
   {:target :browser
    :output-dir "resources/public/js/compiled"
    :asset-path "/js/compiled"
    :devtools {:watch-dir "public"
               :after-load kaspazza.main/render!
               :repl-pprint true}
    :modules {:main {:init-fn kaspazza.main/init}}}}}
